<div class="card">
    <div>
        <ConnectionStatusLight Status="@BmsHandler.Connection" />
        Connection: @BmsHandler.Connection
    </div>
    <p>IP: @BmsHandler.DeviceIP</p>
    <p>Type: @BmsHandler.DeviceType</p>
    <p>Status: @BmsHandler.Status</p>
    <p>Fails: @BmsHandler.ConsecutiveFailures</p>
</div>

@code {
    [Parameter] public IBmsHandler BmsHandler { get; set; } = default!;
}
